/*!!!!!!!!!!!!!! BORDER LAYOUT !!!!!!!!!!!!!!!*/
#north    {  height:10%; width:100%}        
#west     {  width:15%; height:80%; float:left}        
#center   {  height:80%}  
#south    {  height:10%; width:100% }        
body
{
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!! NORTH !!!!!!!!!!!!!!*/
.header
{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	font-size: 150%;
	width: 40%;

}

.header_ul_right >li {
float: right;
width: 50px;
height: 60px;
}
.header_ul_right > li > a:link {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.header_ul_right> li >a:hover, a:active {
    opacity: 0.7;
}
.header_ul_right > li > a > img {
    width: 27%;
    height: 35%; 
}
.header_ul > li {
	float: left;
}

.header_ul > li > a:link {
	display: block;
	width: 120px;
	font-weight: bold;
	opacity: 0.4;
	background-color:#9DB5B7 ;
	color: #FFFFFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.header_ul > li > a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #EAECA1;
	background-color:#9DB5B7 ;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.header_ul > li >a:hover, a:active {
	opacity: 0.9;
	background-color:#9DB5B7 ;
}

input#search   {
width: 80%;
        background-color: rgba(194, 152, 108, 0.7);
text-align: center;
opacity: 0.5;
height: 33%;
color: #FFFFFF;
border: 0;
}
input#search:hover    {
width: 80%;
        background-color: rgba(194, 152, 108, 0.9);
text-align: center;
opacity: 0.9;
height: 33%;
color: #FFFFFF;
border: 0;
}


/*!!!!!!!!!!!!!!!! WEST !!!!!!!!!!1*/
.navigation
{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	font-size: 150%;
}

.nav_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav_ul > li {
	float: left;

}

.nav_ul > li > a:link {
	display: block;
	width: 120px;
    height: 110px;
	font-weight: bold;
    margin-top: 5px;
	opacity: 0.4;
	 background-color: rgba(134, 26, 42, 0.9);
	color: #FFFFFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav_ul > li > a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #EAECA1;
     background-color: rgba(134, 26, 42, 0.8);
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav_ul > li >a:hover, a:active {
	opacity: 0.9;
     background-color: rgba(134, 26, 42,1);

	/* background-color: #207DB6;*/
}
.nav_ul > li > a > img {
	width: 60%;
	height: 50%; 
}

/*!!!!!! CENTER !!!!!!!*/


html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,option,optgroup,
textarea{
	font:inherit;
}





/*------------------------------------*\
    $SHARED
    \*------------------------------------*/
    h1,p,
    .carousel{
    	margin-bottom:24px;
    	margin-bottom:2rem;
    }





/*------------------------------------*\
    $MAIN
    \*------------------------------------*/
    html{font:0.75em/1.5 "Helvetica Neue", Arial, sans-serif;
    color:#333;
    
}
small{
	color:#999;
}
a{
	color:#09f;
}





/*------------------------------------*\
    $CAROUSEL
    \*------------------------------------*/
    .maincarousel{	
    	padding: 3% 25% 1% 25%;

    }
    .carousel{
    	overflow:hidden;
    	width:100%;
    	position:relative;
    }
    .panes{
    	list-style:none;
    	position:relative;
    	width:500%; /* Number of panes * 100% */
    	overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */

    	-webkit-animation:carousel 30s infinite;
    	-moz-animation:carousel 30s infinite;
    	animation:carousel 30s infinite;
    }
    .panes > li{
    	position:relative;
    	float:left;
    	width:20%; /* 100 / number of panes */
    }
    .panes > li > a{
    	display:block;
    }
    .carousel img{
    	display:block;
    	width:100%;
    	max-width:100%;
    }
    .carousel h2{
    	font-size: 2em;
/* padding: 0.5em; */
position: absolute;
right: 10px;
bottom: 10px;
left: 10px;
text-align: center;
color: rgba(134, 26, 42, 0.75);
background-color: rgba(194, 152, 108, 0.9);
}
    }

    @-moz-keyframes carousel{
    	0%    { left:0; }
    	11%   { left:0; }
    	12.5% { left:-100%; }
    	23.5% { left:-100%; }
    	25%   { left:-200%; }
    	36%   { left:-200%; }
    	37.5% { left:-300%; }
    	48.5% { left:-300%; }
    	50%   { left:-400%; }
    	61%   { left:-400%; }
    	62.5% { left:-300%; }
    	73.5% { left:-300%; }
    	75%   { left:-200%; }
    	86%   { left:-200%; }
    	87.5% { left:-100%; }
    	98.5% { left:-100%; }
    	100%  { left:0; }
    }

    @-webkit-keyframes carousel{
    	0%    { left:0; }
    	11%   { left:0; }
    	12.5% { left:-100%; }
    	23.5% { left:-100%; }
    	25%   { left:-200%; }
    	36%   { left:-200%; }
    	37.5% { left:-300%; }
    	48.5% { left:-300%; }
    	50%   { left:-400%; }
    	61%   { left:-400%; }
    	62.5% { left:-300%; }
    	73.5% { left:-300%; }
    	75%   { left:-200%; }
    	86%   { left:-200%; }
    	87.5% { left:-100%; }
    	98.5% { left:-100%; }
    	100%  { left:0; }
    }

    @keyframes carousel{
    	0%    { left:0; }
    	11%   { left:0; }
    	12.5% { left:-100%; }
    	23.5% { left:-100%; }
    	25%   { left:-200%; }
    	36%   { left:-200%; }
    	37.5% { left:-300%; }
    	48.5% { left:-300%; }
    	50%   { left:-400%; }
    	61%   { left:-400%; }
    	62.5% { left:-300%; }
    	73.5% { left:-300%; }
    	75%   { left:-200%; }
    	86%   { left:-200%; }
    	87.5% { left:-100%; }
    	98.5% { left:-100%; }
    	100%  { left:0; }
    }


    /*!!!!!!!!!!!! SOUTH !!!!!!!!!!*/

    .footer{
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 1%;
    	width: 12%;
    }
    .footer > a:link {
    	color: rgba(134, 26, 42, 0.75);
    	font-weight: bold;
    }
    .footer > a:hover {
        background-color: rgba(194, 152, 108, 0.9);
    }

    .footer > a:visited {
        color: rgba(134, 26, 42, 0.3);
    }

    .footer > a:active {
        color: rgba(134, 26, 42);
    }



    /*!!!!!!!!!!!!!!!!!!! MODAL !!!!!!!!!!!!!*/

    .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }